extends ./layout.jade
block contenido
	div(class="col-md-4 center-block text-center quitar-float espacio-arriba")
		div(class="animated bounceIn")
			img(src="img/p1.jpg")
		h1(class="fuente-titulo naranja") Metal Gear Solid
		h2 La historia de Solid Snake
		nav(class="tamanio")
			a(href="menu.html" class="espacio-derecha") Menú
			a(href="menu.html" class="espacio-derecha") Contacto
			a(href="menu.html") Acerca De
