extends ./layout.jade
block contenido
	nav(class="fondo-nav padding-largo text-center tamanio-letra")
		ul(class="no-lista")
			li(class="col-md-3  inline-block")
				a(href="index.html") Inicio
			li(class="col-md-3  inline-block")
				a(href="index.html") Contacto
			li(class="col-md-3  inline-block")
				a(href="index.html") Acerca de
	block demas